@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 15px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background: #ffffff;
    min-height: 100vh;
}
.titre{
    text-align : center;
    color: #f00;
    z-index: auto;
}

 section{
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 1px solid #fff;
    border-radius: 30px;
    z-index: -1;
} 
section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
    border-radius: 30px;

}
section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e1e63);
    clip-path: circle(30% at 10% 10%);
    border-radius: 30px;

} 
.contenant{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.contenant .carte{
    position: relative;
    width: 250px;
    height: 600px;
    background: rgb(253, 253, 253);
    margin: 15px;
    box-shadow: 20px 20px 50px #cccccc;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 254, 0.979);
    border-left: 1px solid rgb(245, 245, 245);
    backdrop-filter: blur(5px);   
}
.contenant .carte .contenue{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -90px;
    align-items: center;
    /* transform: translateY(100px); */
    opacity: 0.8;
    transition: 0.5;
}
.contenant .carte:hover .contenue{
    opacity: 1;
    transform: translateY(-20px);
}
.contenant .carte .contenue .imgBx{
    position: relative;
    width: 220px;
    height: 270px;
    border-radius: 10%;
    overflow: hidden;
    border: 1px solid rgb(245, 245, 245);
    margin: 0;
    

}
.contenant .carte .contenue .imgBx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.genre {
    margin-top: 30px;
}
.genre span{
    width: 160px;
    height: 37px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4px 10px;
    background-color: rgb(25, 124, 253);
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;

    


}
.contenant .carte .contenue .contentBx h4{
    color: #161616;
    font-weight: 650;
    font-size: 1em;
    text-align: justify;
    margin: 20px 0 10px;
    line-height: 1.1em; 
    text-transform: initial;
}

.contenant .carte .btndetail{
    position: absolute;
    bottom: 50px; 
}
.contenant .carte .btndetail li{
    list-style: none;
    margin: 0 1px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0.6;
    /* transition-delay: calc(0.1s * var(--i)); */
}
.contenant .carte:hover .btndetail li{
    transform: translateY(0px);
    opacity: 1;
}
.contenant .carte .btndetail li a{
    color: #ffffff;
    font-size: 24px;
}

.btn{
    
     width: 160px;
     height: 40px;
     justify-content: center;
     align-items: center;
     position: relative;
     display: inline-block;
     padding: 8px 20px;
     margin-top: 15px;
     background-color: rgb(250, 39, 39);
     color: #000000;
     letter-spacing: 1px;
     border-radius: 20px;
     text-decoration: none;
     font-weight: 700;
     font-size: 1.2rem;
     box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}
.btn:hover{
    width: 170px;
    font-size: 1em;
    text-align: center;
    height: 45px;
    color: white;
    background-color: palevioletred;
    transition: all ease 0.3s;
}
.detail{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0;
    border: 1px solid black;
    flex-wrap: wrap;
    background: rgb(255, 255, 255);
    border-radius: 30px;

}
.detail .cartebas{
    position: relative;
    width: 250px;
    height: 270px;
    padding: 0;
    background-color: rgb(207, 206, 206);
    margin: 15px;
    border: 1px dashed black;
    box-shadow: 20px 20px 50px #cccccc;
    border-radius: 15px;
}
#res{
    font-size: 1.9em;
    font-weight: 800;
    color: #770000;
    /* background-color: rgb(61, 234, 247); */
}
h1, h2{
    color: #770000;
    font-size: 1.9em;
    font-weight: 800;

}